/* 


HEADER 
*/
.header {
  position: absolute;
  z-index: 1000;
  width: 100%;
}

.header-top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 35px 0 43px;
  font-size: 14px;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 500;

  @media (max-width: 767px) {
    display: none;
  }
}

.burger,
.burger-menu {
  display: none;

  @media (max-width: 767px) {
    display: block;
  }
}
.burger {
  background: none;
  border: 0;
  cursor: pointer;
  position: relative;
  flex: 0 0 35px;
  height: 25px;
  z-index: 1001;
}
.burger.active span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.burger.active span:nth-child(2) {
  transform: scale(0) translateY(-50%);
}
.burger.active span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}
.burger span {
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  background: var(--text-primary-light);
  transition: 0.2s ease 0s;
  transition-property: top, bottom, transform background;
}
.burger:hover span {
  background: var(--white);
}
.burger span:nth-child(1) {
  top: 0;
}
.burger span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.burger span:nth-child(3) {
  bottom: 0;
}
.burger-menu {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 60px 30px;
  overflow-y: auto;
  z-index: 1000;

  transition: 0.3s ease 0s;
  transition-property: top, opacity;

  top: -100%;
  opacity: 0;
  pointer-events: none;
}
.burger-menu.active {
  top: 0%;
  opacity: 1;
  pointer-events: all;
}

.header-link:hover {
  color: var(--white);
}
.navbar {
  display: flex;
  align-items: center;
  gap: 75px;
  padding: 20px 0;

  @media (max-width: 1200px) {
    gap: 40px;
  }

  @media (max-width: 767px) {
    justify-content: space-between;
  }
}
.logo {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
  flex: 0 0 auto;

  @media (max-width: 767px) {
    flex: 0 0 230px;
  }

  @media (max-width: 600px) {
    flex: 0 0 160px;
  }
}
.logo-img {
  height: 40px;
  display: block;
}

.nav-links {
  display: flex;
  gap: 54px;

  @media (max-width: 1200px) {
    gap: 30px;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.nav-link {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  padding: 5px 0;
  font-family: "SF Pro Display", sans-serif;
  color: #adadad;
  display: flex;
  align-items: center;
  transition: color 0.3s ease 0s;

  @media (max-width: 767px) {
    font-size: 22px;
  }
}

.nav-link:hover {
  color: var(--text-primary-light);
}

.nav-link.active {
  color: var(--text-primary-light);
}

.nav-link.active .nav-link__text {
  position: relative;
}

.nav-link.active .nav-link__text::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: var(--white);
  bottom: 0px;
  left: 0;
}

.enterprise-link {
  margin-right: 24px;
  transition: filter 0.3s ease 0s;
}

.enterprise-link:hover {
  filter: brightness(1.1);
}

.enterprise-link a {
  color: var(--text-primary-light);
  background-color: var(--red-bg-30);
  border: 1px solid var(--red);
  border-radius: 20px;
  padding: 6px 16px;
}

.header-actions {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header-link {
  color: var(--gray-medium);
  transition: color 0.3s ease;
  font-size: 14px;
  display: flex;
  align-items: center;

  @media (max-width: 767px) {
    font-size: 22px;
  }
}

.header-link:not(:last-child) {
  padding-right: 20px;
  border-right: 1px solid var(--border-gray);

  @media (max-width: 767px) {
    padding-right: 0px;
    border-right: none;
  }
}

.demo-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 8px;
  background-color: var(--border-gray);
  mask: url("../images/monitor-icon.svg") no-repeat center / contain;
  -webkit-mask: url("../images/monitor-icon.svg") no-repeat center / contain;

  @media (max-width: 767px) {
    width: 20px;
    height: 20px;
  }
}
.single-user-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 8px;
  background-color: var(--border-gray);
  mask: url("../images/user-single-icon.svg") no-repeat center / contain;
  -webkit-mask: url("../images/user-single-icon.svg") no-repeat center / contain;
}
.mail-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 8px;
  background-color: var(--border-gray);
  mask: url("../images/mail-icon.svg") no-repeat center / contain;
  -webkit-mask: url("../images/mail-icon.svg") no-repeat center / contain;
}

.dropdown-arrow {
  font-size: 10px;
  margin-left: 6px;
}

/* 




HERO 
*/
.hero {
  background: url(../images/hero/bg.jpg) center / cover no-repeat,
    radial-gradient(ellipse at bottom right, rgba(0, 80, 160, 0.1) 0%, transparent 60%), linear-gradient(to right, #1517a0, #0e105b);

  color: var(--white);
  padding: 260px 0 0;
  position: relative;
  overflow: hidden;
  height: 615px;

  @media (max-width: 767px) {
    padding: 120px 0 0;
    height: 380px;
  }
}

.hero_main {
  height: 933px;

  @media (max-width: 1000px) {
    height: auto;
    padding-bottom: 300px;
  }
}

.hero_bg-dark {
  background: url(../images/hero/bg-dark.jpg) center / cover no-repeat,
    radial-gradient(ellipse at bottom right, rgba(0, 150, 255, 0.2) 0%, transparent 60%),
    radial-gradient(ellipse at top left, rgba(128, 0, 255, 0.3) 0%, transparent 70%),
    linear-gradient(to bottom right, #0b0f2e, #10203f, #0d2a4d);
}

.hero-cta__watch-demo img {
  display: inline-block;
  width: 18px;
  height: 18px;
}

.hero-blub-bg {
  position: absolute;
  bottom: -33%;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0 auto 0;
  width: 600px;
  height: 600px;
  z-index: 10;
  object-fit: contain;
  animation: blubBlink 3s infinite;

  @media (max-width: 1000px) {
    width: 400px;
    height: 400px;
    bottom: -15%;
  }
}

@keyframes blubBlink {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}

.hero .container {
  position: relative;
  z-index: 5;
  display: flex;
  flex-wrap: wrap;
}

.hero-title {
  font-family: "Jost", sans-serif;
  font-size: 72px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: var(--text-primary-light);

  @media (max-width: 1200px) {
    font-size: 50px;
  }

  @media (max-width: 767px) {
    font-size: 32px;
  }
}

.hero-content {
  margin-left: 110px;

  @media (max-width: 1200px) {
    margin-left: 0;
  }
}

.hero-description {
  font-family: "SF Pro Display", sans-serif;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 18px;
  color: var(--text-light);
  max-width: 780px;

  @media (max-width: 767px) {
    font-size: 18px;
  }

  @media (max-width: 600px) {
    font-size: 16px;
  }
}

.hero-cta {
  display: flex;
  margin-bottom: 40px;
  flex-wrap: wrap;
  gap: 18px;

  @media (max-width: 767px) {
    margin-bottom: 30px;
    gap: 15px;
  }
}

.hero-cta a {
  display: flex;
  gap: 8px;
}

.trusted-by {
  padding: 20px 0;
  display: flex;
  gap: 26px;
  flex-wrap: wrap;

  @media (max-width: 767px) {
    padding: 0;
  }

  @media (max-width: 600px) {
    gap: 15px;
  }
}

.trusted-by p {
  font-family: "SF Pro Display", sans-serif;
  font-size: 21px;
  color: var(--text-gray);
  flex: 0 0 auto;
}

.trusted-logos {
  display: flex;
  gap: 25px;
  align-items: center;
  flex-wrap: wrap;
}

.trusted-logos img {
  height: 28px;
  opacity: 0.5;
  object-fit: contain;

  @media (max-width: 767px) {
    height: 24px;
  }
}

/* 




Footer */
.footer {
  background-color: #12286f;
  padding: 20px 0;
  margin-top: 20px;
  position: relative;
}
.footer__curved {
  z-index: 12;
  top: -120px;
  height: 120px;
  background: url(../images/footer/ellipse-1.svg) center 0 / 170% no-repeat;
}

.footer__curved-line {
  z-index: 11;
  top: -120px;
  height: 120px;
  background: url(../images/footer/ellipse-2.svg) center -3px / 170% no-repeat;
}

.footer-container {
  display: flex;
  gap: 117px;
  position: relative;
  padding: 0 15px;
  z-index: 10;
  color: var(--text-smoke-gray);

  @media (max-width: 1200px) {
    gap: 50px;
  }

  @media (max-width: 1000px) {
    flex-direction: column;
    gap: 50px;
    max-width: 600px;
    padding: 0 30px;
  }

  @media (max-width: 600px) {
    padding: 0 15px;
  }
}

.footer-left {
  flex: 0 0 420px;

  @media (max-width: 1200px) {
    flex: 0 1 380px;
  }
  @media (max-width: 1000px) {
    flex: 1 1 auto;
  }
}

.footer-left__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-left__logo {
  max-width: 186px;
  height: 30px;
  display: inline-block;
}

.footer-left__logo img {
  width: 100%;
  height: 100%;
}

.footer-left__text {
  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;

  line-height: 1.2;
}

.footer-left__social-links {
  display: flex;
  gap: 10px;
}

.footer-left__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-left__social-link img {
  width: 34px;
  height: 34px;
}

.footer__newsletter {
  margin-top: 40px;
}
.footer__newsletter-title {
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer__newsletter-form {
  position: relative;
  max-width: 420px;
  height: 47px;
}

.footer__newsletter-input {
  background-color: var(--bg-blue-gray-20);
  color: var(--text-smoke-gray);
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 0px 15px;
  border-radius: 20px;
  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;
  transition: box-shadow 0.2s ease 0s;
}
.footer__newsletter-input:focus {
  box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.4);
}
.footer__newsletter-input::placeholder {
  color: var(--text-smoke-gray);
}

.footer__newsletter-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-radius: 0 20px 20px 0;
}

.footer__newsletter-button img {
  width: 24px;
  height: 20px;
}

.footer-right {
  display: flex;
  gap: 100px;

  @media (max-width: 1200px) {
    gap: 50px;
  }

  @media (max-width: 1000px) {
    gap: 30px;
  }

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.footer-right__contact-email a {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-right__contact-email a span {
  text-decoration: underline;
}

.footer-right__contact-email img {
  width: 24px;
  height: 24px;
}

.footer-right__column-title {
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer-right__column-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-right__column-list-item a {
  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;
  transition: color 0.3s ease 0s;
}

.footer-right__column-list-item a:hover {
  color: var(--bg-white-smoke);
}
