.book-demo {
  padding-top: 105px;
  padding-bottom: 220px;
  margin-top: 20px;
  background: #f1f6fe;
  position: relative;
  z-index: 10;
}
.book-demo-container {
  /*padding: 0 135px;*/
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
}

.book-demo-form {
  flex: 0 1 556px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.demo-form__row.valid .demo-form__input {
  border: 1px solid var(--success-green);
}
.demo-form__row.invalid .demo-form__input {
  border: 1px solid var(--red-border);
}
.demo-form__row.invalid .demo-form__error {
  display: flex;
}
.demo-form__row.valid .demo-form__icon {
  display: block;
}

.demo-form__label {
  margin-bottom: 10px;
  color: var(--dark-gray);
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 500;
}
.demo-form__input-wrapper {
  position: relative;
}
.demo-form__input {
  color: var(--dark-gray);
  font-weight: 700;
}

.demo-form__icon {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  height: 19px;
  width: 19px;
}
.demo-form__error {
  display: none;
  align-items: center;
  gap: 6px;
  margin-top: 10px;
  color: var(--red-border);
}
.demo-form__error img {
  width: 16px;
  height: 16px;
}
.demo-form__phone-wrapper {
  display: flex;
  gap: 10px;
}

.demo-form__select-wrapper {
  flex: 0 0 152px;
  position: relative;
}
.demo-form__phone-wrapper .demo-form__input {
  flex: 1 1 100%;
}

.demo-form__select {
  color: var(--select-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: none;
  position: relative;
  padding-left: 50px !important;
  padding-right: 57px !important;
}
.demo-form__select-arrow {
  content: "";
  position: absolute;
  background: url(../../images/arrow-down.svg) no-repeat;
  width: 14px;
  height: 8px;
  right: 22px;
  z-index: 10;
  pointer-events: none;
}

.demo-form__select-country-icon {
  width: 25px;
  height: 18px;
  position: absolute;
  left: 16px;
  z-index: 10;
  pointer-events: none;
}
.demo-form__select-arrow,
.demo-form__select-country-icon {
  top: 50%;
  transform: translateY(-50%);
}

.demo-form__textarea {
  color: var(--dark-gray);
  height: 111px;
  resize: none;
}
.demo-form__button {
  width: 100%;
}

.demo-form__input,
.demo-form__select,
.demo-form__textarea {
  box-shadow: 1px 3px 7px 0px #c7c7c71a, 4px 13px 13px 0px #c7c7c717, 9px 28px 18px 0px #c7c7c70d, 15px 51px 21px 0px #c7c7c703,
    24px 79px 23px 0px #c7c7c700;
  border-radius: 20px;
  width: 100%;
  padding: 16px;
  font-size: 20px;
}
.demo-form__input,
.demo-form__select {
  height: 56px;
}
.demo-form__input::placeholder,
.demo-form__textarea::placeholder {
  color: var(--text-placeholder);
  font-weight: 400;
}

/* 



Benefits */

.demo-benefits {
  flex: 0 1 530px;
  padding: 0px 44px 57px;
  background: var(--bg-light-blue);
  border-radius: 20px;
}
.demo-benefits__image {
  margin-top: -57px;
  height: 270px;
  padding: 7px;
}

.demo-benefits__content {
  margin-top: 47px;
}
.demo-benefits__title {
  font-family: Jost;
  text-transform: uppercase;
  color: var(--dark-gray);
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 5px;
}
.demo-benefits__subtitle {
  color: var(--dark-gray);
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 23px;
}
.demo-benefits__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.demo-benefits__list-item {
  color: var(--text-dark-medium);
  font-size: 20px;
  display: flex;
  gap: 25px;
}
.demo-benefits__list-item-icon {
  height: 38px;
  flex: 0 0 38px;
}
.complete-mark {
  -webkit-mask: url(../../images/success-mark.svg) no-repeat center;
  mask: url(../../images/success-mark.svg) no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: var(--bg-light-blue-secondary);
}
