/* 


FEATURES 
*/
.features {
  position: relative;
  z-index: 1000;
  border-radius: 20px;
  height: 830px;
  margin-top: 20px;
  background: var(--light-blue);

  @media (max-width: 1200px) {
    height: 600px;
  }

  @media (max-width: 767px) {
    height: auto;
  }
}
.features__circles-bg {
  position: absolute;

  transform: translate(-50%, 0);
  z-index: 0;
  left: 50%;
  top: -16%;
  height: 900px;
  width: 1400px;

  @media (max-width: 1200px) {
    height: 650px;
  }
}

.features__image {
  z-index: 20;
  transform: translateY(-165px);
  position: relative;
  margin: 0 auto 0;
  animation: bounceFeaturesImage 3s infinite ease;
  transition: transform 0.2s ease 0s;

  @media (max-width: 1200px) {
    max-width: 500px;
    height: 320px;
  }

  @media (max-width: 1000px) {
    max-width: 400px;
    height: 280px;
  }
}

.features__image:hover {
  animation-play-state: paused;
}

@keyframes bounceFeaturesImage {
  0% {
    transform: translateY(-165px);
  }
  50% {
    transform: translateY(-175px);
  }
  100% {
    transform: translateY(-165px);
  }
  100.1% {
    transform: translateY(-165px);
  }
  200% {
    transform: translateY(-165px);
  }
}

.features__rows {
  padding: 0 50px;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1300px;

  @media (max-width: 1200px) {
    padding: 0 80px;
  }

  @media (max-width: 1000px) {
    padding: 0 20px;
    top: 0px;
  }

  @media (max-width: 767px) {
    position: static;
    transform: translate(0, -120px);
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
.features__row {
  display: flex;
  justify-content: space-between;

  @media (max-width: 767px) {
    padding: 0 !important;
    margin: 0 !important;
    gap: 20px;
    justify-content: center;
  }

  @media (max-width: 400px) {
    flex-wrap: wrap;
  }
}
.features__row-first {
  margin-bottom: 66px;
  padding: 0 10px;

  @media (max-width: 1200px) {
    margin-bottom: 20px;
  }

  @media (max-width: 1000px) {
    margin-bottom: 10px;
  }
}
.features__row-second {
  padding: 0 160px;

  @media (max-width: 1200px) {
    padding: 0 180px;
  }

  @media (max-width: 1000px) {
    padding: 0 120px;
  }
}
.features__row-third {
  padding: 0 370px;

  @media (max-width: 1200px) {
    padding: 0 310px;
  }

  @media (max-width: 1000px) {
    padding: 0 220px;
  }
}

.features__feature {
  max-width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease 0s;

  @media (max-width: 1200px) {
    max-width: 140px;
  }

  @media (max-width: 767px) {
    max-width: 200px;
    width: 100%;
    padding: 20px 10px;
    border-radius: 20px;
    background: var(--white);
    box-shadow: 1px 3px 7px 0px #c7c7c71a, 4px 13px 13px 0px #c7c7c717, 9px 28px 18px 0px #c7c7c70d, 15px 51px 21px 0px #c7c7c703,
      24px 79px 23px 0px #c7c7c700;
  }
}
.features__feature:hover {
  transform: scale(1.05);
}
.features__feature-icon {
  margin-bottom: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  background: var(--white);
  box-shadow: 1px 3px 7px 0px #c7c7c71a, 4px 13px 13px 0px #c7c7c717, 9px 28px 18px 0px #c7c7c70d, 15px 51px 21px 0px #c7c7c703,
    24px 79px 23px 0px #c7c7c700;

  @media (max-width: 1200px) {
    width: 70px;
    height: 70px;
  }

  @media (max-width: 767px) {
    background: none;
    box-shadow: none;
  }
}
.features__feature-icon img {
  @media (max-width: 1200px) {
    transform: scale(0.9);
  }

  @media (max-width: 767px) {
    transform: scale(1);
  }
}

.features__feature-text {
  font-size: 20px;
  line-height: 100%;
  text-align: center;
}

/* 




Agentic Security */

.agentic-security {
  position: relative;
  margin-bottom: 155px;
  padding: 0 15px;

  @media (max-width: 1200px) {
    margin-bottom: 100px;
  }
}

.agentic-container {
  background: linear-gradient(180deg, #e6effd 0%, rgba(241, 246, 254, 0) 100%);
  border-radius: 40px;
  display: flex;
  gap: 50px;
  padding: 82px 60px 144px 30px;

  @media (max-width: 1200px) {
    padding: 30px;
  }

  @media (max-width: 1000px) {
    gap: 30px;
  }

  @media (max-width: 767px) {
    flex-direction: column-reverse;
    padding: 30px 15px;
  }
}

.agentic-content {
  flex: 1 1 auto;
}

.agentic-header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 20px;

  @media (max-width: 1200px) {
    margin-bottom: 10px;
  }
}

.new-badge {
  max-width: fit-content;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-blue);
  color: var(--white);
  font-size: 13px;
  font-weight: 600;
  padding: 3px 6px;
  border-radius: 5px;
}

.agentic-content h2 {
  font-family: "Jost", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  color: var(--dark-gray);
  text-transform: uppercase;

  @media (max-width: 1200px) {
    font-size: 28px;
  }
}

.agentic-subtitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
  line-height: 100%;
  color: var(--dark-gray);

  @media (max-width: 767px) {
    font-size: 20px;
  }
}

.agentic-description {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 30px;
  line-height: 110%;
  color: var(--text-dark-medium);

  @media (max-width: 1200px) {
    font-size: 20px;
  }

  @media (max-width: 767px) {
    font-size: 16px;
  }
}

.agentic-video {
  height: 393px;
  flex: 0 0 637px;
  position: relative;
  object-fit: cover;
  background: rgba(255, 255, 255, 0.2);
  padding: 18px;

  @media (max-width: 1200px) {
    flex: 0 0 450px;
    height: 320px;
  }

  @media (max-width: 1000px) {
    flex: 0 0 50%;
    height: 280px;
    padding: 10px;
  }

  @media (max-width: 767px) {
    flex: 0 0 auto;
  }
}
.agentic-video video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0px 25px 35px 34px rgba(0, 0, 0, 0.09);
  object-fit: cover;
}
.agentic-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease 0s;
}
.agentic-play-button:hover {
  transform: translate(-50%, -50%) scale(1.05);
}
.agentic-play-button.hidden {
  opacity: 0;
  pointer-events: none;
}

.agentic-play-icon {
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: var(--white);
  -webkit-mask: url(../../images/agentic/play-icon.svg) no-repeat center;
  mask: url(../../images/agentic/play-icon.svg) no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

/* 




How It Works Section */
.how-it-works {
  background-color: var(--bg-blue-gray);
  padding: 60px 15px 220px;
  position: relative;

  @media (max-width: 767px) {
    padding: 40px 15px 220px;
  }
}

.how-it-works__curved {
  z-index: -1;
  top: -70px;
  background: url(../../images/how-it-works/ellipse-1.svg) center 0 / cover no-repeat;
}
.how-it-works__curved-line {
  z-index: -2;
  top: -75px;
  background: url(../../images/how-it-works/ellipse-2.svg) center 0 / cover no-repeat;
}

.how-it-works-container {
  max-width: 650px;
  margin: 0 auto 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how-it-works-title {
  font-family: "Jost", sans-serif;
  font-size: 48px;
  line-height: 40px;
  font-weight: 700;
  margin-bottom: 28px;
  color: var(--dark-gray);
  text-transform: uppercase;

  @media (max-width: 767px) {
    font-size: 32px;
    line-height: 1;
  }
}

.how-it-works-subtitle {
  font-family: "SF Pro Display", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: var(--text-dark-medium);
  max-width: 590px;
  line-height: 1.2;
  margin: 0 0 90px;

  @media (max-width: 767px) {
    margin: 0 0 60px;
  }

  @media (max-width: 600px) {
    margin: 0 0 40px;
  }
}

.how-it-works__image {
  @media (max-width: 767px) {
    height: 300px;
  }
}
.how-it-works__image img {
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
}

.how-it-works__steps {
  display: flex;
  flex-direction: column;
  gap: 230px;
  background: url(../../images/how-it-works/cursor-arrow.svg) no-repeat 80% 28% / auto,
    url(../../images/how-it-works/beam-bg.png) no-repeat 50% 45% / 406px 478px;

  @media (max-width: 600px) {
    gap: 130px;
    background: url(../../images/how-it-works/cursor-arrow.svg) no-repeat 80% 32% / auto,
      url(../../images/how-it-works/beam-bg.png) no-repeat 50% 45% / 320px 478px;
  }
}

.how-it-works__step {
  text-align: center;
}

.how-it-works__step-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 34px;
}

.how-it-works__step-number {
  width: 60px;
  height: 60px;
  background-color: var(--bg-white-smoke);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #7085a2;
  box-shadow: 0px 2px 4px 0px #6666661a, 0px 7px 7px 0px #66666617;
}

.how-it-works__step-title {
  font-family: "Jost", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #7085a2;
  letter-spacing: 6px;
  text-transform: uppercase;
  line-height: 1.2;

  @media (max-width: 767px) {
    font-size: 20px;
  }
}

.how-it-works-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  max-width: 620px;
  margin: 34px auto 0;
  padding: 16px 34px;
  border-radius: 60px;
  border: 10px #fff solid;
  background: linear-gradient(180deg, var(--red-border) 0%, var(--red-pink) 100%);
  box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.05), inset 0px -1px 1px rgba(255, 255, 255, 0.25),
    inset 0px 1px 1px rgba(255, 255, 255, 0.25);

  @media (max-width: 600px) {
    padding: 12px 34px;
  }
}

.how-it-works-search-text {
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  color: var(--white);

  @media (max-width: 600px) {
    font-size: 24px;
  }
}

.how-it-works-search-icon {
  width: 40px;
  height: 40px;

  @media (max-width: 600px) {
    width: 30px;
    height: 30px;
  }
}

/*





Integrations Section */
.integrations {
  background-color: var(--bg-primary-light);
  padding: 30px 10px 64px;
  position: relative;
}

.integrations__curved {
  z-index: 1;
  top: -110px;
  background: url(../../images/integrations/ellipse-1.svg) center 0 / cover no-repeat;
  height: 200px;
}
.integrations__curved-line {
  z-index: 0;
  top: -110px;
  background: url(../../images/integrations/ellipse-2.svg) center 0 / cover no-repeat;
  height: 200px;
}

.integrations-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  gap: 109px;
  padding: 65px 70px;
  border-radius: 40px;
  background: var(--bg-secondary-light);
  box-shadow: 2px 3px 8px 0px #00000005, 6px 13px 14px 0px #00000005, 14px 29px 20px 0px #00000003, 25px 52px 23px 0px #00000000,
    38px 82px 25px 0px #00000000;

  @media (max-width: 1200px) {
    gap: 50px;
    padding: 35px 40px;
  }

  @media (max-width: 1000px) {
    flex-direction: column;
    align-items: start;
  }

  @media (max-width: 767px) {
    padding: 35px 15px;
  }
}

.integrations-content {
  flex: 1;
  max-width: 443px;

  @media (max-width: 600px) {
    text-align: center;
    margin: 0 auto 0;
  }
}

.integrations-title {
  font-family: "Jost", sans-serif;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #130f30;
  line-height: 1.1;
  text-transform: uppercase;

  @media (max-width: 1000px) {
    font-size: 28px;
  }
}

.integrations-text {
  font-family: "SF Pro Display", sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 30px;
  color: var(--text-dark-medium);
  line-height: 1.2;
}

.integrations-logos {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 14px;
  max-width: 602px;

  @media (max-width: 600px) {
    align-items: center;
    margin: 0 auto 0;
  }
}

.integrations-logo-row {
  display: flex;
  justify-content: center;
  gap: 18px;
  align-items: center;

  @media (max-width: 1200px) {
    flex-wrap: wrap;
    justify-content: start;
  }
  @media (max-width: 1000px) {
    justify-content: start;
  }

  @media (max-width: 600px) {
    flex-direction: column;
    justify-content: center;
  }
}

.integration-card {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 14px;
  height: 49px;
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.04), 0px 2px 1px rgba(0, 0, 0, 0.03), 0px 3px 1px rgba(0, 0, 0, 0.01),
    0px 5px 1px rgba(0, 0, 0, 0);
}

.integration-card img {
  height: 25px;
  object-fit: contain;
}

.integration-card span {
  font-family: "SF Pro Display", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: var(--text-secondary-gray);
  white-space: nowrap;

  @media (max-width: 1200px) {
    font-size: 22px;
  }

  @media (max-width: 1000px) {
    font-size: 20px;
  }

  @media (max-width: 1000px) {
    font-size: 18px;
  }
}

/* 





FAQ Section */
.faq {
  padding: 80px 0 210px;
  text-align: center;
  background: var(--bg-primary-light);
}

.faq-title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 40px;
  color: var(--dark-gray);

  @media (max-width: 1200px) {
    font-size: 38px;
    line-height: 1;
  }

  @media (max-width: 767px) {
    font-size: 32px;
  }

  @media (max-width: 600px) {
    font-size: 28px;
  }
}

.faq-text {
  font-size: 16px;
  max-width: 700px;
  margin: 0 auto 86px;
  color: var(--text-dark-medium);
  line-height: 1.2;

  @media (max-width: 1200px) {
    margin: 0 auto 50px;
  }
}

.accordion {
  max-width: 1080px;
  margin: 0 auto;
  text-align: left;
}

.accordion-item.active .accordion-icon::before {
  transform: translate(-50%, -50%) rotate(0deg) scale(0);
}
.accordion-item.active .accordion-icon::before,
.accordion-item.active .accordion-icon::after {
  background: var(--red-border);
}

.accordion-item.active .accordion-header {
  padding: 11px 0px;
}
.accordion-item.active .accordion-title {
  color: var(--red-border);
}
.accordion-item.active .accordion-content {
  padding-bottom: 20px;
}

.accordion-item.active .accordion-icon {
  color: var(--red-border);
}

.accordion-item:not(:last-child) {
  border-bottom: 1px solid #e5e7eb;
  margin-bottom: 15px;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 0px 25px;
  cursor: pointer;
  gap: 10px;
  transition: padding 0.2s ease 0s;
}

.accordion-title {
  font-size: 24px;
  font-weight: 500;
  transition: color 0.2s ease 0s;

  @media (max-width: 767px) {
    font-size: 20px;
    line-height: 1;
  }
}

.accordion-icon {
  position: relative;
  flex: 0 0 20px;
  height: 20px;
}
.accordion-icon::before,
.accordion-icon::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  background: var(--dark-gray);
  top: 50%;
  left: 50%;
  transition: all 0.3s ease 0s;
}

.accordion-icon::before {
  transform: translate(-50%, -50%) rotate(0deg) scale(1);
}

.accordion-icon::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: 0.2s ease;
  transition-property: max-height, padding;
  height: 100%;
  color: var(--text-dark-medium);
  font-size: 18px;
  line-height: 1.2;

  @media (max-width: 767px) {
    font-size: 16px;
  }
}
